<h1> Book detail </h1> 
<div class="book">
  <p>title：<%= @book.title %></p>
  <p>opinion：<%= @book.body %></p>
  
</div>

  
  
  
  
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %></div>